{% extends "../../test/fixtures/status-filtering/src/templates/layouts/page.html.twig" %}

{% block body %}
<article class="team-listing">
    <h2>{{title}}</h2>
    <section class="content">{{contents}}</section>
</article>
{% endblock %}
