<article class="person">
    <h3 class="fn">{{first}} {{last}}</h3>
    <figure class="photo">
        {% include "../../atoms/image/image.html.twig" with profile__image only %}
    </figure>
    <div class="bio">
        {{bio}}
    </div>
</article>