{% extends "../../test/fixtures/general/src/templates/layouts/page.html.twig" %}

{% block pageContent %}
    <article>
        <h3>{{title}}</h3>
        <section class="lede">
            {{contents}}
        </section>
        {% include "../../test/fixtures/general/src/components/organisms/team-listing/team-listing.html.twig" %}
    </article>
{% endblock %}