<main>
    <article>
        {% block contents %}

        <div class="contents">
            {{contents}}

            <hr>

            {{collections.team.length}}
            {{collections.people.length}}
        </div>
        {% endblock %}
    </article>
</main>

