<article class="team-listing">
    <h2>{{title}}</h2>
    <div class="listing">
        {% for item, key in collections.team %}
            {{key}}
            {% include "../../components/molecules/person/person.html.twig" with item %}
        {% endfor %}
    </div>
</article>